asdfghjkl
backpack-for-pytorch==1.5.2
blobfile==2.0.2
einops==0.6.1
huggingface-hub==0.16.4
keras==2.13.1
ml-collections==0.1.1
numpy==1.23.4
omegaconf==2.1.1
python
pytorch-lightning==1.4.2
tensorflow==2.13.0
requests==2.31.0
scipy==1.10.1
torch==1.13.1
transformers==4.31.0
wheel==0.38.4
lmdb
pyarrow
pandas
clip
kornia
torchmetrics==0.6.0
